*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
}

/*=============================
               HEADER        
=============================*/

header{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

header ul{
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

header ul li{
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(63, 63, 63);
    border-radius: 0.5rem;
    transition: 0.5s;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
    text-align: center;
}

li:hover{
    background-color: rgb(94, 94, 94);
}

li:active{
    background-color: rgb(121, 121, 121);
}

header ul a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

#title{
    font-family: 'Monofett', cursive;
}

i, a{
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.fa-gamepad:before{
    padding: 0 0.5rem;
}

.analisis i:hover{
    animation-name: dance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes dance{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

@keyframes change{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*=============================
               BODY        
=============================*/

body{
    background-color: black;
}

.body{
    min-height: 70vh;
}

.container{
    background-color: rgb(78, 78, 78);
    margin: 0 auto;
    width: 95vw;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(54, 54, 54, 0.692);
    animation-name: change;
    animation-duration: 2s;
}

.container p{
    color:white;
}

h1{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news{
    background-color: black;
    padding: 1rem;
    border: 1px solid darkgray;
    margin: 1rem 0;
}

.imagen img{
    width: 100%;   
    height: auto;
}

.text{
    padding: 0.5rem;
    padding-bottom: 0%;
}

h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

a h2:hover{
    color: gray;
}

.seemore{
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #4285f4;
    padding: 1rem;
}

.seemore:hover{
    color: #76abff;
}

hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

.analisis{
    background-color: rgb(122, 122, 122);
    border-radius: 5px;
    padding: 0.5rem;
}

.analisis img{
    max-height: 280px;
}

.analisis .row{
    justify-content: center;
}

.analisis .news{
    margin: 0 0.2rem;
}

img{
    transition: all 0.3s ease;
    overflow: hidden;
}

img:hover{
    transform: scale(1.03);
}

.score{
    font-size: 18px;
    justify-content: center;
	align-items: center;
	text-align: center;
    margin:0px auto;
    border-radius: 4px;
}

.score p{
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

button{
    background-color: rgb(63, 63, 63);
    border-radius: 0.5rem;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    padding: 1.2rem;
}

button:hover{
    background-color: rgb(94, 94, 94);
}

button:active{
    background-color: rgb(121, 121, 121);
}

.analisis img{
    height: 220px;
}

.score i{
    font-size: 2rem;
    padding: 0 0.5rem;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.yellow p, .yellow i{
    color: black;
}

/*=============================
            CONSOLAS        
=============================*/
.product{
    background-color: rgb(51, 51, 51);
    border: 5px solid rgb(0, 0, 0);
    margin: 1rem 0;
}

.consoleinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.consoleinfo p{
    padding: 1rem;
}

.consoleinfo img{
    border: 5px solid black;
    max-height: 350px;
    min-width: 25vw;
}

.izq{
    justify-content: flex-start;
}

.lista{
    width: 100%;
}

.lista h3{
    text-align: center;
    font-size: 1.2rem
}

.lista li{
    width: 70%;
    margin: 0 auto;
}

#extra1, #extra2, #extra3{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.product ul{
    margin: 1rem 0;
    padding: 0;
    list-style-position: outside;
}

/*=============================
               FOOTER        
=============================*/

footer{
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    text-align: center;
}

footer i{
    padding: 0 0.2rem;
    font-size: 2rem;
}

footer i:hover{
    color: #4285f4;
}

/*=============================
            FORMULARIO        
=============================*/


/*=============================
            RESPONSIVE        
=============================*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
.col-1{
    width: 80%;
}

@media only screen and (max-width: 599px) { 
    p{
        font-size:0.8rem;
    }
}


  @media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets: */
    .col-s-1 {width: 10%;}
    .col-s-2 {width: 20%;}
    .col-s-3 {width: 30%;}
    .col-s-4 {width: 40%;}
    .col-s-5 {width: 50%;}
    .col-s-6 {width: 60%;}
    .col-s-7 {width: 70%;}
    .col-s-8 {width: 80%;}
    .col-s-9 {width: 90%;}
    .col-s-10 {width: 100;}

    header, header ul{
        flex-direction: row;
    }

    ul.col-{
        width: 70%;
    }

    .consoleinfo{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #extra1, #extra2, #extra3{
        flex-direction: row;
        justify-content: space-around;
    }
  }
  
  @media only screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-10 {width: 100;}

    header, header ul{
        flex-direction: row;
    }

    ul.col-{
        width: 40%;
    }

    .analisis .col-1{
        width: 15%;
    }

    .consoleinfo{
        flex-wrap: nowrap;
    }
    .container{
        width: 100%;
    }

    #extra1, #extra2, #extra3{
        flex-direction: row;
        justify-content: space-around;
    }

    .lista li{
        width: 50%;
    }
  }


/*=============================
        UNDER CONSTRUCTION        
=============================*/
.construction{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.construction *{
    margin: 1.5rem 0;
}

.construction h2{
    font-size: 4rem;
}

.construction p{
    font-size: 2rem;
}

.loader {
    font-size: 8px;
    margin: 0 auto;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #FFF;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
